<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="bootstrap.php" stopOnFailure="false" colors="true" syntaxCheck="false" verbose="true">
    <testsuite name="Core Units">
        <directory suffix="Test.php">tests/unit/app/code/core</directory>
    </testsuite>
    <testsuite name="Core Functional">
        <directory suffix="Test.php">tests/functional/app/code/core</directory>
    </testsuite>
    <testsuite name="Core Integration">
        <directory suffix="Test.php">tests/integration/app/code/core</directory>
    </testsuite>
    <testsuite name="Core Selenium">
        <directory suffix="Test.php">tests/selenium/app/code/core</directory>
    </testsuite>
    <testsuite name="Community Units">
        <directory suffix="Test.php">tests/unit/app/code/community</directory>
    </testsuite>
    <testsuite name="Community Functional">
        <directory suffix="Test.php">tests/functional/app/code/community</directory>
    </testsuite>
    <testsuite name="Community Integration">
        <directory suffix="Test.php">tests/integration/app/code/community</directory>
    </testsuite>
    <testsuite name="Community Selenium">
        <directory suffix="Test.php">tests/selenium/app/code/community</directory>
    </testsuite>
    <testsuite name="Local Units">
        <directory suffix="Test.php">tests/unit/app/code/local</directory>
    </testsuite>
    <testsuite name="Local Functional">
        <directory suffix="Test.php">tests/functional/app/code/local</directory>
    </testsuite>
    <testsuite name="Local Integration">
        <directory suffix="Test.php">tests/integration/app/code/local</directory>
    </testsuite>
    <testsuite name="Local Selenium">
        <directory suffix="Test.php">tests/selenium/app/code/local</directory>
    </testsuite>
    <selenium>
        <browser name="Firefox on OSX"
                 browser="*firefox"
                 host="10.0.2.2"
                 port="4444"
                 timeout="30000" />
        <browser name="Chrome on OSX"
                 browser="*chrome"
                 host="10.0.2.2"
                 port="4444"
                 timeout="30000" />
    </selenium>
</phpunit>
