<?xml version="1.0"?>
<!--
/**
 * @category    MageHack
 * @package     MageHack_MageConsole
 * @license     http://opensource.org/licenses/osl-3.0.php  Open Software License (OSL 3.0)
 */
-->
<config>
    <modules>
        <MageHack_MageConsole>
            <version>0.1.0</version>
        </MageHack_MageConsole>
    </modules>
    <global>
        <models>
            <mageconsole>
                <class>MageHack_MageConsole_Model</class>
            </mageconsole>
        </models>
        <helpers>
            <mageconsole>
                <class>MageHack_MageConsole_Helper</class>
            </mageconsole>
        </helpers>
        <resources>
            <mageconsole_setup>
                <setup>
                    <module>MageHack_MageConsole</module>
                </setup>
            </mageconsole_setup>
        </resources>
        <blocks>
            <mageconsole><class>MageHack_MageConsole_Block</class></mageconsole>
        </blocks>
    </global>
    <admin>
         <routers>
            <adminhtml>
                <args>
                    <modules>
                        <mageconsole after="Mage_Adminhtml">MageHack_MageConsole</mageconsole>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <translate>
            <modules>
                <MageHack_MageConsole>
                    <files>
                        <default>MageHack_MageConsole.csv</default>
                    </files>
                </MageHack_MageConsole>
            </modules>
        </translate>
        <layout>
            <updates>
                <mageconsole>
                    <file>mageconsole.xml</file>
                </mageconsole>
            </updates>
        </layout>
        <acl>
            <resources>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <mageconsole translate="title" module="mageconsole">
                                            <title>MageConsole Settings</title>
                                        </mageconsole>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
    </adminhtml>
    <default>
        <mageconsole>
            <endpoints>
                <entities>
                    <customer>customer</customer>
                    <address>customer_address</address>
                    <category>catalog_category</category>
                    <product>catalog_product</product>
                    <order>order</order>
                    <invoice>invoice</invoice>
                    <creditmemo>creditmemo</creditmemo>
                    <shipment>shipment</shipment>
                </entities>
                <models>
                    <customer>customer/customer</customer>
                    <customer_address>customer/address</customer_address>
                    <catalog_category>catalog/category</catalog_category>
                    <catalog_product>catalog/product</catalog_product>
                    <order>sales/order</order>
                    <invoice>sales/order_invoice</invoice>
                    <creditmemo>sales/order_creditmemo</creditmemo>
                    <shipment>sales/order_shipment</shipment>
                </models>
            </endpoints>
            <requests>
                <entities>
                    <category>mageconsole/request_catalog_category</category>
                    <product>mageconsole/request_catalog_product</product>
                    <customer>mageconsole/request_customer</customer>
                    <order>mageconsole/request_sales_order</order>
                    <invoice>mageconsole/request_sales_invoice</invoice>
                    <creditmemo>mageconsole/request_sales_creditmemo</creditmemo>
                    <shipment>mageconsole/request_sales_shipment</shipment>
                    <cache>mageconsole/request_cache</cache>
                    <config>mageconsole/request_config</config>
                    <store>mageconsole/request_store</store>
                    <help>mageconsole/request_help</help>
                    <index>mageconsole/request_index</index>
                    <cron>mageconsole/request_cron</cron>
                </entities>
                <actions>
                    <add>add</add>
                    <update>update</update>
                    <remove>remove</remove>
                    <show>show</show>
                    <list>listing</list>
                    <clear>clear</clear>
                    <help>help</help>
                    <set>set</set>
                    <get>get</get>
                    <enable>enable</enable>
                    <disable>disable</disable>
                    <run>run</run>
                    <export>export</export>
                    <getfile>getfile</getfile>
                </actions>
            </requests>
        </mageconsole>
    </default>
</config>
