<?xml version="1.0"?>
<!--
/**
 * @category    MageHack
 * @package     MageHack_MageConsole
 * @license     http://opensource.org/licenses/osl-3.0.php  Open Software License (OSL 3.0)
 */
-->
<config>
    <modules>
        <MageHack_MageConsole>
            <version>0.1.0</version>
        </MageHack_MageConsole>
    </modules>
    <global>
        <models>
            <mageconsole>
                <class>MageHack_MageConsole_Model</class>
            </mageconsole>
        </models>
        <helpers>
            <mageconsole>
                <class>MageHack_MageConsole_Helper</class>
            </mageconsole>
        </helpers>
        <resources>
            <mageconsole_setup>
                <setup>
                    <module>MageHack_MageConsole</module>
                </setup>
            </mageconsole_setup>
        </resources>
        <blocks>
            <mageconsole><class>MageHack_MageConsole_Block</class></mageconsole>
        </blocks>
    </global>
    <admin>
         <routers>
            <adminhtml>
                <args>
                    <modules>
                        <mageconsole after="Mage_Adminhtml">MageHack_MageConsole</mageconsole>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <translate>
            <modules>
                <MageHack_MageConsole>
                    <files>
                        <default>MageHack_MageConsole.csv</default>
                    </files>
                </MageHack_MageConsole>
            </modules>
        </translate>
        <layout>
            <updates>
                <mageconsole>
                    <file>mageconsole.xml</file>
                </mageconsole>
            </updates>
        </layout>
        <acl>
            <resources>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <mageconsole translate="title" module="mageconsole">
                                            <title>MageConsole Settings</title>
                                        </mageconsole>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
    </adminhtml>
    <default>
        <mageconsole>
        </mageconsole>
    </default>
</config>
